h1{
    text-align: center;
    font-size: 48px;
}
p{
    font-size: 16px;
    margin-top: -25px;
    margin-bottom: 30px;
}
body{
    text-align: center;
}
.input-box{
    width: 500px;
    height: 25px;
    border-radius: 6px;
}
.sites{
    font-size: 24px;
    font-family: sans-serif;
    font-weight: bold;
}

.input-button, .clear-button{
    height: 31px;
    border-radius: 6px;
}

body{
    background-color: rgb(63, 206, 206);
}